.panda-bg-info{
    background:#f7cbf4;
}
.catagories img{
    width: 100px;

}
.panda-btn-buy-now{
    background: #ff589b;
    color: white;
    border: none;
    padding: 9px 25px;
    border-radius: 8px;
}